absl-py
astor
backcall
cachetools
certifi
chardet
cycler
decorator
future
gast
google-auth
google-auth-oauthlib
google-pasta
grpcio
h5py
idna
importlib-metadata
ipython
ipython-genutils
jedi
joblib
kiwisolver
Markdown
matplotlib
numpy
oauthlib
opencv-python
opt-einsum
parso
pexpect
pickleshare
Pillow
prompt-toolkit
protobuf
ptyprocess
pyasn1
pyasn1-modules
Pygments
pyparsing
python-dateutil
PyYAML
requests
requests-oauthlib
rsa
scikit-learn
scipy
six
tensorboard
tensorboard-plugin-wit
tensorboardX
termcolor
threadpoolctl
torch==1.11.0
torchvision
tqdm
traitlets
typing-extensions
urllib3
wcwidth
Werkzeug
wrapt
zipp